/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App ol li {
  font-size: 1.2em;
  margin: 10px;
}

.todo-input {
  padding: 2px;
  min-width: 250px;
  min-height: 25px;
  font-size: 1.2em;
  margin: 10px;
}

.save-button {
  font-size: 1.2em;
}

.todo-content {
  width: 50%;
}

@media (max-width: 700px) {
  .todo-content {
    width: 95%;
  }
}





